{% load i18n %}

<div id="top_page" class="">
    <div class="top-most_nav">
        <div class="container-fluid">
            <ul class="list-inline pull-right">
                {% if user.is_authenticated %}
                    <li>
                        {% if num_unread_notifications > 0 %}
                            {# If user has new notifications - we change account link to go to inbox #}
                            <a href="{% url 'customer:notifications-inbox' %}">
                                <i class="icon-user"></i>
                                {% trans "Account" %}
                                <span class="label label-important">{{ num_unread_notifications }}</span>
                            </a>
                        {% else %}
                            <a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a>
                        {% endif %}
                    </li>
                    {% if user.is_staff or perms.partner.dashboard_access %}
                        <li><a href="{% url 'dashboard:index' %}"><i class="icon-list-ul"></i> {% trans "Dashboard" %}</a></li>
                    {% endif %}
                    <li><a id="logout_link" href="{% url 'customer:logout' %}"><i class="icon-signout"></i> {% trans "Logout" %}</a></li>
                {% else %}
                    <li class="top-accounts"><a id="" href="#"> {% trans "Customer Care" %}</a></li>
                    <li class="top-accounts"><a id="" href="#"> {% trans "Sell" %}</a></li>
                    <li class="top-accounts"><a id="other" href="#"> {% trans "Advertise" %}</a></li>
                    <li class="top-accounts"><a id="login_link" href="{% url 'customer:login' %}"><i class="icon-signin"></i> {% trans "Login or register" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
